<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <typesense_general>
            <credentials>
                <index_prefix>magento_</index_prefix>
                <protocol>https</protocol>
                <port>443</port>
                <debug>1</debug>
                <highlights>1</highlights>
            </credentials>
        </typesense_general>
        <typesense_search_result>
            <instant_search_result>
                <page_per_product>9</page_per_product>
            </instant_search_result>
        </typesense_search_result>
        <typesense_autocomplete>
            <autocomplete>
                <enable_Category>1</enable_Category>
                <enable_page>1</enable_page>
                <nb_of_products_suggestions>6</nb_of_products_suggestions>
                <nb_of_categories_suggestions>6</nb_of_categories_suggestions>
                <nb_of_pages_suggestions>6</nb_of_pages_suggestions>
                <enable_suggestions>1</enable_suggestions>
            </autocomplete>
        </typesense_autocomplete>
         <typesense_products>
            <products>
                <product_additional_attributes>{"_1693459422484_484":{"productAttribute":"name","searchable":"1"},"_1693459460584_584":{"productAttribute":"sku","searchable":"1"},"_1693459466618_618":{"productAttribute":"price","searchable":"0"}}</product_additional_attributes>
                <show_sku>1</show_sku>
                <show_price>1</show_price>
            </products>
        </typesense_products>
        <typotolerance>
            <typotolerance_group>
                <word_length>4</word_length>
            </typotolerance_group>
        </typotolerance>
        <typesense_search_result>
            <image>
                <type>product_thumbnail_image</type>
            </image>
        </typesense_search_result>
        <additional_section>
            <sbert>
                <embedding_field>product_name,description</embedding_field>
            </sbert>
        </additional_section>
        <typesense_queue>
            <queue>
                <batch_size>5</batch_size>
            </queue>
        </typesense_queue>
    </default>
</config>
